@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown-content {
   /* * {
    color: var(--secondaryTextColor);
  }  */
/* 
  a {
    color: var(--primary-400);
  } */

  padding: 1rem 1rem;

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }
  p {
    margin-bottom: 0;
  }

  ul li {
    padding-bottom: .5rem !important;
    margin-left: 1.5rem;
    list-style-type: circle !important;
  }
}

.page-scroll {
  height: calc(100vh - 320px); /* 100vh minus the height of the navbar */
  overflow-y: auto;
}